<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Is draft:</strong>
  <%= @blog.is_draft %>
</p>

<p>
  <strong>Is published:</strong>
  <%= @blog.is_published %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @blog.published_at %>
</p>

<%= render 'comments/form' %>
<% @comments.each do |comment| %>
  <p>
    <strong>Comments:</strong>  
    <%= render partial: 'comments/comment', locals: {comment: comment} %>
  </p>
<% end %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
